#foreword {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;

	div {
		grid-column: 3/5;
	}
}


#words-of-wisdom {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;

	div {
		grid-column: 3/5;
	}
}

#response {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;

	div {
		grid-column: 3/5;
	}
}

/* .paragraphs {
	grid-column : span 2";
} */

h2 {
	grid-column: 2;
	text-align: left;
}

