:root {

/* TYPE */

	font-family: "bricolage grotesque";
	--secondary-typeface: 'gladiator';

/* COLOR */

	--primary-color: #AAF600;
	--secondary-color: #1E2513;
	--article-one-color: #FB01F1;
	--article-two-color: #EDE716;
	--article-three-color: #6583FC;

}

@font-face {
	font-family: 'Gladiator';
	src: url('gladiator.otf') format('opentype');
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* STYLING */

header {
	background-color: #1E2513;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;


	.site-name {
		color: #FB01F1;
		font-size: 3.25rem;
		line-height: 2.75rem;
		text-align: center;
		font-weight: 700;
		font-variation-settings: "wdth" 75;
		font-optical-sizing: auto;
	}
}

ul {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.button-active-state {
	color: white;
}

.navigation-buttons li {
	color: var(--article-one-color);
	font-size: 1.5rem;
	font-weight: 600;
	font-variation-settings: "wdth" 85;
	font-optical-sizing: auto;
}

h1 {
	font-size: 5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	text-align: center;
	font-size: 2.75rem;
	font-weight: 600;
	font-variation-settings: "wdth" 75;
	font-optical-sizing: auto;
}

h3 {
	font-size: 1.75rem;
	font-weight: 600;
	font-variation-settings: "wdth" 75;
	font-optical-sizing: auto;
}

blockquote {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

aside {
	color: grey;
}

/* NAV BAR */

.nav-identity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
}

.nav-mark {
	color: var(--article-one-color);
	font-size: 6.5rem;
	line-height: 4rem;
	text-align: center;
	font-weight: 700;
	letter-spacing: -0.2rem;
	/* font-variation-settings: "wdth" 75; */
	font-optical-sizing: auto;
	white-space: nowrap;
}

.nav-mark-styling {
	display: inline-block;
	transform: translateY(-0.7rem)
}

.mark-styling {
	display: inline-block;
	transform: translateY(-0.3rem)
}

.highlighted-link {
	color: #FB01F1;
}

button {
	display: flex;
	text-align: center;
	background-color: var(--article-one-color);
	border: #0F210B solid 0.5rem;
	padding: 1rem;
	max-width: fit-content;
	margin: auto;
}

/* BANNER SECTION */

#banner {
	background-color: var(--primary-color);
	position: relative;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.banner {
	color: white;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 800;
	font-variation-settings: "wdth" 75;
	font-optical-sizing: auto;
	overflow: hidden;
	white-space: nowrap;
}

/* LANDING SECTION */

#landing {
	padding-top: 5rem;
	padding-bottom: 8rem;
	margin: auto;
}

.main-mark {
	width: fit-content;
	height: fit-content;
	animation: rotate 10s linear infinite;
}

.landing-graphic {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.graphic-mark {
	font-size: 15rem;
	line-height: 15rem;
	letter-spacing: -0.4rem;
	font-weight: 800;
	text-align: center;
	color: #FB01F1;
}

.landing-mark {
	display: inline-block;
	transform: translateY(-1.3rem)
}

.landing-text {
	font-size: 4rem;
	font-weight: 800;
	line-height: 4rem;
	text-align: center;
	color: #FB01F1;
}


/* RANDOM ARTICLE SECTION */


#subsection-articles {
	max-width: 35ch;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#articles {
	border: #0F210B solid 0.5rem;
	padding: 1rem;
}

#initials {
	font-family: 'gladiator';
	font-size: 10rem;
	text-align: center;
}

.all-articles {
	border: #0F210B solid 0.5rem;
	background-color: #0F210B;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0.5rem;
	flex-direction: column;
	max-width: 45ch;
	margin: auto;
}

.article-box {
	background-color: var(--article-one-color);
	height: 13rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;

	p {
		color: white;
	}
}

#web-info {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
}

.subsection-web-info p {
	line-height: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 40ch;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* ARTICLES */

.article-title {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.article-info {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	p {
		font-size: 1.2rem;
	}
}

.article-subheadings {
	font-size: 2rem;
	height: 7rem;
	align-content: center;
	position: sticky;
	background-color: white;
	top: 0rem;
}

.main-article {
	display: flex;
	flex-direction: column;
	max-width: 45ch;
	gap: 3rem;
	margin: auto;
	.paragraphs {
		line-height: 1.4rem;
		gap: 2rem;
		margin: 1rem;
	}
}

/* ARTICLE GRAPHICS */

.article-graphic{
	margin: 1rem;
}

.graphic-text {
	font-family: 'gladiator';
	font-size: 12rem;
	text-align: center;
	border: #0F210B solid 0.5rem;
	max-width: 30rem;
	padding-top: 2rem;
	margin:auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* END OF PAGE SUGGESTED ARTICLES */

#related {
	justify-items: center;
	margin: 1rem;
	margin-bottom: 5rem;
}

.related {
	text-align: center;
}

.related-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.initials {
	font-family: 'gladiator';
	text-align: center;
	font-size: 5rem;
}
#article-one {
	background-color: #FB01F1;
}

#article-two {
	background-color: #EDE716;
}

#article-three {
	background-color: #6583FC;
}

/* CRITIQUE BUTTON SECTION */

#home-section-three {
	text-align: center;
	padding: 1rem;
	padding-bottom: 3rem;
	background-color: #AAF600;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	p {
		font-size: 1.2rem;
		padding: 1rem;
		max-width: 45ch;
		margin: auto;
	}
}

/* FOOTER */

footer {
	background-color: #1E2513;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer-mark {
	color: #FB01F1;
	font-size: 3rem;
	font-weight: 800;
	/* font-variation-settings: "wdth" 75; */
	font-optical-sizing: auto;
}

.identity-text {
	font-size: 1.5rem;
	line-height: 1.2rem;
	/* letter-spacing: 0.02rem; */
	font-weight: 600;
	font-variation-settings: "wdth" 75;
	font-optical-sizing: auto;
}

.course-name {
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: right;
	font-weight: 600;
	font-variation-settings: "wdth" 75;
	font-optical-sizing: auto;
}

.identity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.4rem;
}

.footer-info {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.identity {
	display: flex;
	flex-direction: row;
}

.footer-list {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ARTICLE PAGES */

.suggested-articles {
	border: #0F210B solid 0.5rem;
	background-color: #0F210B;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.5rem;
	flex-direction: column;
	max-width: 45ch;
	margin: auto;
	p {
		color: black;
	}
}

/* TABLET BUT NOT REALLY */

@media (min-width: 800px) {

	.navigation-buttons li {
		font-size: 3rem;
	}

	li:hover {
		color: #AAF600;
		cursor: pointer;
	}

	.all-articles {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		flex-direction: row;
		max-width: 85ch;
		margin: auto;
	}

	#subsection-articles {
		max-width: 65ch;
		#title {
			font-size: 2.5rem
		}
		#initials {
			font-size: 15rem;
		}
	}

	#landing {
		padding-top: 7rem;
		padding-bottom: 7rem;
		margin: auto;
	}

	.landing-text {
		font-size: 7rem;
		line-height: 7rem;
	}

	.subsection-web-info p {
		max-width: 65ch;
		margin: auto;
	}

	#home-section-three p {
		max-width: 65ch;
		margin: auto;
	}

	.suggested-articles {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		flex-direction: row;
		max-width: 85ch;
		margin: auto;
		p {
			color: black;
		}
	}

	.main-article {
		max-width: 120ch;
		.paragraphs {
			margin: 0;
		}
	}

	.footer-list {
		flex-direction: row;
		justify-content: space-between;
	}

	.article-subheadings {
		height: 15rem;
		position: sticky;
		align-content: start;
		background-color: white;
		top: 0rem;
	}

}

/* DESKTOP */

@media (min-width: 1080px) {

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: fit-content;
	}

	blockquote {
		font-size: 2.5rem;
	}

	.navigation-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 8rem;
	}
	
	#landing {
		padding-top: 7rem;
		padding-bottom: 12rem;
		margin: auto;
	}

	.landing-graphic {
		gap: 3rem;
	}

	.main-mark {
		height: fit-content;
		width: fit-content;
	}

	.graphic-mark {
		font-size: 20rem;
		line-height: 20rem;
	}

	.landing-text {
		font-size: 10rem;
		line-height: 10rem;
	}

	.graphic-text {
		font-family: 'gladiator';
		font-size: 18rem;
		text-align: center;
		border: #0F210B solid 0.5rem;
		max-width: 50rem;
		padding-top: 2rem;
		margin:auto;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.article-title {
		margin-top: 7rem;
	}

	.article-subheadings {
		font-size: 2.27rem;
		height: 20rem;
		position: sticky;
		align-content: start;
		background-color: white;
		top: 0rem;
	}

	.all-articles {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		flex-direction: row;
		max-width: 120ch;
		margin: auto;
	}

	.main-article {
		max-width: 150ch;
		margin-bottom: 5rem;
	}

	blockquote {
		font-size: 2.5rem;
		line-height: 2.75rem;
		margin-bottom: 2rem;
	}

}