:root {
	font-family: "bricolage grotesque";
}

body {
	background-color: #AAF600;
}

.d2 {
	display: none;
}

.all_articles {
	display: flex;
	flex-direction: column;
}

.author {
	font-size: 0.5rem;
	font-weight: 200;
	color: white;
}

.critique_text p {
	text-align: center;
	padding: 1rem;
}

.critique_button{
	background-color: #FB01F1;
	border: #1E2513 solid 0.5rem;
	text-align: center;
	padding: 1rem;
}

.article {
	background-color: #FB01F1;
	border: #1E2513 solid 0.5rem;
	padding: 1rem;
}

.article p {
	font-size: 1.5rem;
	font-weight: 600;
	font-variation-settings: "wdth" 85;
}

.emblem{
	position: relative;
	bottom: 5rem;
	text-align: center;
}

header {
	font-size: 5rem;
	font-weight: bold;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 75;
	line-height: 4rem;
	text-align: center;
	background-color: #1E2513;
	color: #FB01F1;
	padding: 1rem;
}

.banners {
	overflow:hidden;
}

.banners p {
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 75;
	line-height: 4rem;
	color: #A0E800;
	font-size: 5rem;
	font-weight: 800;
}

.odd {
	position: relative;
	right: 2rem;
}

.even {
	position: relative;
	right: 6rem;
}

main {
	max-width: 35ch;
	margin: auto;
}

footer {
	margin-top: 2rem;
	background-color: #1E2513;
	color: white;
	padding: 1rem;
}

.identity {
	display: flex;
}

.course_name {
	font-size: 1.5rem;
	font-optical-sizing: auto;
	font-weight: 800;
	font-variation-settings: "wdth" 80;
}

.footerinfo {
	display: flex;
	justify-content: space-between;
}

.footerinfo p {
	font-size: 0.8rem;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 80;
}

/* TABLET BUT NOT REALLY */

@media (min-width: 800px) {

main {
	max-width: 85ch;
}

	.all_articles {
		display: flex;
		flex-direction: row;
	}

	.article {
		flex: 1;
	}

}

/* DESKTOP */

@media (min-width: 1080px) {

}